body{
    font-family: Arial;
    text-align: center;
    background: #0b2040;
    color: white;
}

h2{
    margin-top: 20px;
}

.board{
  width: 300px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3,100px);
}

.cell{
  width:100px;
  height:100px;
  font-size:55px;
  background: white;
  color:#0b2040;
  border:2px solid black;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}

#reset{
  padding:10px 20px;
  font-size:15px;
  margin-top:15px;
  cursor:pointer;
}
