*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: black;
}

header{
  height: 100vh;
  width: 100vw;
  background-image: url("Kochi.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h2{
  color: black;
  font-size: 45px;
  margin-bottom: 0;
  transform: translateY(-20px);
  text-align: center;
  
}
.navbar{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo{
  font-size: 28px;  
  font-weight: bold;
  font-style: italic;
  color: black;      
}

.nav-link ul{
  display: flex;
  gap: 80px;     
}

.nav-link ul li a{
  font-size: 18px;     
  font-weight: 580;
  color: rgb(28, 24, 24);   
}
.nav-link ul li a:hover{
  background-color: black;
  color: white;
  border-radius: 6px;
  transition: 0.3s;
}


.book-btn{
  margin-top: 80px;         
  padding: 10px 30px;        
  font-size: 16px;          
  font-weight: bold;
  background-color: rgb(239, 245, 248);   
  color: black;             
  border: none;
  border-radius: 50px;       
  cursor: pointer;
  position: relative;       
  left: -220px;      
  
}

.book-btn:hover{
  background-color: #f0f0f0; 
}
