body{
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(45deg, rgb(7, 117, 190), rgb(243, 4, 180));
    height:100vh;
}



.container{
    width: 330px;
    margin-top:7%;
    height: 600px;
    background-color: rgb(51, 1, 61);
    border-radius: 20ps;
    backdrop-filter: blur(15px);
 
}


.wrapper{
    margin-top:50px;
    font-size:30px;
    font-family: sans-serif;
    color:#fff
}




#result{
margin-top:10%;
margin: left 19px;
width:200px;
height:200px;
border-radius: 50%;
border:5px solid rgb(250, 4, 180);
box-shadow:1px 1px 2px rgb(0, 0, 0,3);
}
  


.container .wrapper #result #hour{
    position: relative;
    top:70px;
    font: size 30px;
    font-family:monospace;
    color:#fff;
}



.button{
    margin-top: 15%;
}



.btn button{
    border:2px solid #000;
    color: #fff;
    background-color: rgba(17, 18, 19, 0.6);
    border:none;
    letter-spacing: 5px;
    padding: 15px;
    border-radius: 25px;
    backdrop-filter:blur();
    transition: o.5s;
}


.btn button:hover{
    box-shadow: 0 0 1rem rgb(250, 4, 180);
    color: rgb(252, 4, 198);
    cursor:pointer;
    transition: transform 120ms ;
}
    